.navbar{
    background-color: hsla(0,0%,100%,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.navbar-items li {
    margin-right: 40px;
}

.link {
    color: black;
    text-decoration: none;
}

